{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Hotel Plaza{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="{% static 'css/estilo_base.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-warning shadow-sm justify-content-center">
  <div class="container text-center">
    <a class="navbar-brand" href="{% url 'pagina' %}">Hotel Plaza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContenido">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarContenido">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'pagina' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tabla_clientes' %}">CLiente Tabla</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tabla_proveedores' %}">Proveedores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container py-5">
  {% block content %}{% endblock %}
</main>

<footer class="text-center py-4 mt-5">
  <div class="container">
    <p class="mb-1">&copy; 2025 Hotel Plaza. Todos los derechos reservados.</p>
    <small>Desarrollado con Django y Bootstrap.</small>
  </div>
</footer>

<!-- JS -->
<script src="{% static 'plugins/jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
