<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Control</title>
</head>
<body>
    <h1>Bienvenido al Panel de Control</h1>

    <h2>Usuarios</h2>
    <a href="/usuarios/">Gestión de Usuarios</a><br>

    <h2>Clientes</h2>
    <a href="/clientes/">Gestión de Clientes</a><br>

    <h2>Habitaciones</h2>
    <a href="/habitaciones/">Gestión de Habitaciones</a><br>
    

    <h2>Reservas</h2>
    <a href="/reservas/">Gestión de Reservas</a><br>
    <a href="/detalle_reservas/">Detalle de Reservas</a><br>
    <a href="/checkins/">Check-In</a><br>
    <a href="/checkouts/">Check-Out</a><br>

    <h2>Productos</h2>
    <a href="/productos/">Gestión de Productos</a><br>
    <a href="/categorias/">Categorías</a><br>
    <a href="/marcas/">Marcas</a><br>

    <h2>Proveedores</h2>
    <a href="/proveedores/">Gestión de Proveedores</a><br>
    <a href="/compras/">Compras</a><br>
    <a href="/detalle_compras/">Detalle de Compras</a><br>

    <h2>Ventas</h2>
    <a href="/ventas/">Ventas</a><br>
    <a href="/detalle_ventas/">Detalle de Ventas</a><br>
    <a href="/facturas/">Facturación</a><br>

    <h2>Tareas y Gestión Interna</h2>
    <a href="/tareas/">Tareas</a><br>
    <a href="/asignaciones/">Asignación de Tareas</a><br>
    <a href="/capacitaciones/">Capacitaciones</a><br>
    <a href="/asistencias/">Asistencias</a><br>

    <h2>Reportes</h2>
    <a href="/reportes/">Ver Reportes</a><br>
</body>
</html>